body {
    color: #2e2b26;
    background-image: url("https://thumbs.dreamstime.com/b/folha-de-papel-velha-38946309.jpg");
    background-size: cover;
    background-position: center;

    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 0;
}

.capa {
    text-align: center;
    padding: 60px 20px;
    background-color: rgba(255, 225, 225, 0.6);
    width: 70%;
    margin: 80px auto;
    border: 3px solid #8b7d6d;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.capa h1 {
    font-size: 42px;
    margin-bottom: 10px;
    color: #3c2f1c;
}

.capa h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #4e3b23;
    font-style: italic;
}

.capa img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #3c2f1c;
    margin: 20px 0;
}

.info p {
    margin-top: 8px 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 600px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0);
}

th,
td {
    border: 1px solid #ffffff00;
    padding: 8px 12px;
    color: rgb(0, 0, 0);
}

th {
    background-color: #ffffff00;
    color: rgb(0, 0, 0);
    text-align: left;
}

h1 {
    color: #000;
    text-align: center;
    margin-top: 40px;
}

p {
    line-height: 1.6;
    font-size: 18px;
    text-align: justify;
    margin: 0 60px 20px 60px;
}